<% if @contacts_by_group %>
<table class="table table-hover">
	<!-- <col width="90"> -->
	<thead>
		<th class="sorttable_nosort">View</th>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th class="email-column">Email</th>
		<th class="sorttable_nosort note-column">Note</th>
		<th>Group</th>
		<th class="sorttable_nosort">Delete</th>
	</thead>
	<tbody>
		<% @contacts_by_group.each do |contact| %>
		<tr>
			<td><a id="view-option" href="/contacts/view/<%= contact.id %>">View</a></td>
			<td><%= contact.id %></td>
			<td><%= contact.first_name %></td>
			<td><%= contact.last_name %></td>
			<td><%= contact.email %></td>
			<td class="note-column"><%= contact.note %></td>
			<form action="/contacts/<%= contact.group %>" method="post"><td><a type="submit" href="contacts/<%= contact.group %>"><%= contact.group %></td></form>
			<td><a href="/contacts/delete/<%= contact.id %>">Delete</a></td>
		</tr>
		<% end %>
	</tbody>
</table>

<% else %>
	<h1>No Contacts</h1>
<% end %>