<table class="table table-hover">
	<col width="90">
	<thead>
		<th>Actions</th>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th class="note-column">Note</th>
		<!-- <th>Delete</th> -->
	</thead>
	<tbody>
		<% $rolodex.contacts.each do |contact| %>
		<tr>
			<td><a id="view-option" href="/contacts/view/<%= contact.id %>">View</a> / <%= $rolodex.confirm_deletion(contact)%></td>
			<!-- <td><a id="view-option" href="/contacts/view/<%= contact.id %>">View</a> / <a href="/contacts/delete/<%= contact.id %>">Delete</a></td> -->
			<td><%= contact.id %></td>
			<td><%= contact.first_name %></td>
			<td><%= contact.last_name %></td>
			<td><%= contact.email %></td>
			<td class="note-column"><%= contact.note %></td>
			<!-- <td><a href="/contacts/delete/<%= contact.id %>">Delete</a></td> -->
		</tr>
		<% end %>
	</tbody>
</table>
<div class="container">
	<div class="row">
		<a href="/">Return to Main Menu</a>
	</div>
</div>
<form role="form" action="/contacts_generate" method="post">
	<button type="submit" class="btn btn-default">Generate some contacts</button>
</form>