<h1>Delete Contact</h1>


<h2>Enter details of the contact you would like to delete</h2>
<form class="form-horizontal" action="/contacts" method="delete">
	<input type="text" name="first_name">
	<input type="text" name="last_name">
	<input type="text" name="email">
	<input type="text" name="note">
	<input type="submit" name="Submit">
</form>

<h2>All Contacts</h2>
<table class="table">
	<thead>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Note</th>
	</thead>
	<tbody>
		<% $rolodex.contacts.each do |contact| %>
		<tr>
			<td><%= contact.id %></td>
			<td><%= contact.first_name %></td>
			<td><%= contact.last_name %></td>
			<td><%= contact.email %></td>
			<td><%= contact.note %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<a href="/">Return to Main Menu</a>