<div class="container">

<div class="row">
	<div class="contact-card">
		<div class="contact-card-name">
			<!-- <h2><%= @contact_to_view.first_name %> <%= @contact_to_view.last_name %></h2> -->
			<!-- <h2><%= @contact_to_view.first_name %> <%= @contact_to_view.last_name %></h2> -->
		</div>
	</div>
</div>

<div class="row">
<div class="col-md-5">
	<form id="view-contact-form" class="form-horizontal" role="form" action="/contacts/<%= @contact_to_view.id %>/edit" method="post">
		<input type="hidden" name="_method" value="put" />
		<div class="form-group">
			<label for="view-contact-first-name">First name</label>
			<input id="view-contact-first-name" class="form-control" type="text" name="first_name" value="<%= @contact_to_view.first_name %>">
		</div>
		<div class="form-group">
			<label for="view-contact-last-name">Last name</label>
			<input id="view-contact-last-name" class="form-control" type="text" name="last_name" value="<%= @contact_to_view.last_name %>">
		</div>
		<div class="form-group">
			<label for="view-contact-email">Email</label>
			<input id="view-contact-email" class="form-control" type="text" name="email" value="<%= @contact_to_view.email %>">
		</div>
		<div class="form-group">
			<label for="view-contact-note">Note</label>
			<textarea id="view-contact-note" class="form-control" type="text" name="note"><%= @contact_to_view.note %></textarea>
		</div>
		<div class="form-group">
			<label>Group</label>
			<select class="form-control" type="text" name="group" value="<%= @contact_to_view.group %>">
				<option <%= "selected='selected'" if @contact_to_view.group == "Other" %>>Other</option>
				<option <%= "selected='selected'" if @contact_to_view.group == "Family" %>>Family</option>
				<option <%= "selected='selected'" if @contact_to_view.group == "Friends" %>>Friends</option>
				<option <%= "selected='selected'" if @contact_to_view.group == "Coworkers" %>>Coworkers</option>
			</select>
		</div>
		<button type="submit" class="btn btn-success btn-sm">Save Changes</button>
		<button type="reset" class="btn btn-warning btn-sm">Discard Changes</button>
		<a href="/contacts" class="btn btn-link">Back</a>
	</form>
</div>	
</div>

</div>